html {
  font-family: "Helvetica";
  font-size: 16px;

  opacity: 0.9;
  padding: 0px;
  margin: 0px;
}

body {
  color: seashell;
  background-color: black;
}

/*Header*/

header {
  position: fixed;
  display: flex;
  width: 100%;
  padding: 1rem 1.875rem;
  border-bottom: 1px solid;
  border-color: white;
  top: 0;
  right: 0;
  z-index: 100;
  height: 4.3125rem;
  background-color: black;
}

header nav {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

header nav ul {
  display: flex;
  list-style: none;
  padding: 0px;
}

header nav .logo {
  height: 3.125rem;
  padding-left: 3rem;
}

nav li {
  padding-left: 2rem;
  font-size: 1.5rem;
}

nav li a {
  color: seashell;
}

/*Main Content*/

.main-content {
  position: relative;
  width: 100%;
  top: 5.3125rem;
}

/*Mission*/

article .mission {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  background-image: url("../Images/img-mission-background.webp");
  height: 43.75rem;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

article .mission .content {
  width: 100%;
  background-color: black;
}

article .mission .title {
  font-size: 2rem;
  margin: 0.5rem 0rem 1rem 0rem;
}

article .mission .description {
  font-size: 1.5rem;
  margin: 0.5rem;
}
/*Gallery*/

article .gallery {
  margin-top: 5rem;
}

article .gallery .images-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

article .gallery .image-container {
  width: 300px;
  height: 200px;
  overflow: hidden;
  position: relative;
  margin: 1rem;
}

article .gallery .image-container img {
  position: absolute;
  max-width: 100%;
}

article .gallery .title {
  text-align: center;
  font-size: 2rem;
}

article .gallery .description {
  text-align: center;
  font-size: 1.5rem;
}

article .gallery .image-name {
  margin: 0.5rem;
  text-align: center;
  font-size: 1.5rem;
}

/*Locations*/
article .locations {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;

  background-image: url("../Images/img-locations-background.webp");
  background-position: center;
  background-repeat: no-repeat;
  height: 31.25rem;
}

article .locations .title {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 0.9375rem;
  flex-flow: ;
}

article .locations .list {
  display: flex;
  width: 100%;
  max-height: 100%;

  align-items: center;
  justify-content: space-around;
}

article .locations .item {
  width: 18.75rem;
  margin: 0rem 1.25rem;
  height: auto;
  background-color: black;
  text-align: center;
  line-height: 2rem;
}

footer .content {
  text-align: center;
  line-height: 2rem;
  height: 12.5rem;
}

footer .title {
  font-size: 2rem;
}

footer .contact {
  font-size: 1.1rem;
}

footer .phone {
  font-size: 1.1rem;
}

footer .copyright {
  margin-left: 1.25rem;
  padding-bottom: 1.5rem;
}
